fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
sqlalchemy==2.0.41
alembic==1.14.1
pydantic==2.11.4
pydantic-settings==2.9.1

pandas==2.2.3
numpy==2.2.6
openpyxl==3.1.5
scikit-learn==1.7.0

statsmodels==0.14.6
tensorflow==2.20.0
PyWavelets==1.8.0

typer[all]==0.15.4
rich==14.0.0

aiofiles==24.1.0
python-dateutil==2.9.0
